<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <!--宽带连接名称-->
    <add key="BroadbandName" value="test"/>
    <!--宽带连接账号-->
    <add key="BroadbandUser" value="test"/>
    <!--宽带连接密码-->
    <add key="BroadbandPswd" value="test"/>
    
    <!--邀请注册吗-->
    <add key="RegisCode" value="test"/>
    
    <!--平台API账号-->
    <add key="UserApi" value="s-9foko5jo"/>
    
    <!--平台密码-->
    <add key="PassWord" value="a415953"/>
    
    <!--收码超时时间-->
    <add key="WaitTime" value="60"/>
  </appSettings>
</configuration>